<%- include("../../partials/header.ejs"); %>

<div class="videoCardTitle">
    <h1>Choose A Video Card</h1>
</div>

<div class="videoCardTable">
    <table class="container table table-hover">
        <thead class="videoCardTableHead">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Memory</th>
            <th scope="col">Memory Type</th>
            <th scope="col">Price</th>
            <th scope="col">&nbsp</th>
          </tr>
        </thead>
        <tbody class="videoCardTableBody">
            <% videoCardItems.forEach(function(videoCard){ %>
                <tr>
                    <td><a href="/products/video-card/<%= videoCard._id %>"><%= videoCard.brand %> <%= videoCard.name %></a></td>
                    <td><%= videoCard.memory %> MB</td>
                    <td><%= videoCard.memoryType %></td>
                    <td>$<%= videoCard.price %></td>
                    <td><a class="btn btn-primary btn-sm" href="/products/add-to-cart/video-card/<%= videoCard._id %>">Add</a></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>

<%- include("../../partials/footer.ejs"); %>