<%- include("../../partials/header.ejs"); %>

<div class="memoryTitle">
    <h1>Choose Memory</h1>
</div>

<div class="memoryTable">
    <table class="container table table-hover">
        <thead class="memoryTableHead">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Capacity</th>
            <th scope="col">Frequency</th>
            <th scope="col">Type</th>
            <th scope="col">Price</th>
            <th scope="col">&nbsp</th>
          </tr>
        </thead>
        <tbody class="memoryTableBody">
            <% memoryItems.forEach(function(memory){ %>
                <tr>
                    <td><a href="/products/memory/<%= memory._id %>"><%= memory.brand %> <%= memory.name %></a></td>
                    <td><%= memory.capacity %> GB</td>
                    <td><%= memory.frequency %> MHz</td>
                    <td><%= memory.type %></td>
                    <td>$<%= memory.price %></td>
                    <td><a class="btn btn-primary btn-sm" href="/products/add-to-cart/memory/<%= memory._id %>">Add</a></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>

<%- include("../../partials/footer.ejs"); %>