<%- include("../../partials/header.ejs"); %>

<div class="storageTitle">
    <h1>Choose Storage</h1>
</div>

<div class="storageTable">
    <table class="container table table-hover">
        <thead class="storageTableHead">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Capacity</th>
            <th scope="col">Cache</th>
            <th scope="col">Spin Speed</th>
            <th scope="col">Price</th>
            <th scope="col">&nbsp</th>
          </tr>
        </thead>
        <tbody class="storageTableBody">
            <% storageItems.forEach(function(storage){ %>
                <tr>
                    <td><a href="/products/storage/<%= storage._id %>"><%= storage.brand %> <%= storage.name %></a></td>
                    <td><%= storage.type %></td>
                    <td><%= storage.capacity %> GB</td>
                    <td><%= storage.cache %> MB</td>
                    <td><%= storage.spinSpeed %> rpm</td>
                    <td>$<%= storage.price %></td>
                    <td><a class="btn btn-primary btn-sm" href="/products/add-to-cart/storage/<%= storage._id %>">Add</a></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>

<%- include("../../partials/footer.ejs"); %>