<%- include("../../partials/header.ejs"); %>

<div class="storageTable">
    <table class="container table table-hover">
        <thead class="storageTableHead">
          <tr>
            <th scope="col">&nbsp</th>
            <th scope="col">&nbsp</th>
          </tr>
        </thead>
        <tbody class="storageTableBody">
            <th>Brand</th>
            <th><%= storage.brand %></th>
        </tbody>
        <tbody class="storageTableBody">
            <th>Name</th>
            <th><%= storage.name %></th>
        </tbody>
        <tbody class="storageTableBody">
            <th>Type</th>
            <th><%= storage.type %></th>
        </tbody>

        <tbody class="storageTableBody">
            <th>Capacity</th>
            <th><%= storage.capacity %> GB</th>
        </tbody>
        <tbody class="storageTableBody">
            <th>Size</th>
            <th><%= storage.size %> mm</th>
        </tbody>
        <tbody class="storageTableBody">
            <th>Cache</th>
            <th><%= storage.cache %> MB</th>
        </tbody>
        <tbody class="storageTableBody">
            <th>Spin speed</th>
            <th><%= storage.spinSpeed %> rpm</th>
        </tbody>
        <tbody class="storageTableBody">
            <th>TDP</th>
            <th><%= storage.tdp %> W</th>
        </tbody>
        <tbody class="storageTableBody">
            <th>Price</th>
            <th>$<%= storage.price %></th>
        </tbody>

    </table>
    <div class="container text-center">
		<a class="btn btn-lg btn-primary btn-block" href="/products/add-to-cart/storage/<%= storage._id %>">Add</a>
	</div>
</div>



<%- include("../../partials/footer.ejs"); %>