<%- include("../../partials/header.ejs"); %>

<div class="powerSupplyTitle">
    <h1>Choose A Power Supply</h1>
</div>

<div class="powerSupplyTable">    
    <table class="container table table-hover">
        <thead class="powerSupplyTableHead">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Rating</th>
            <th scope="col">Power</th>
            <th scope="col">Price</th>
            <th scope="col">&nbsp</th>
          </tr>
        </thead>
        <tbody class="powerSupplyTableBody">
            <% psuItems.forEach(function(psu){ %>
                <tr>
                    <td><a href="/products/power-supply/<%= psu._id %>"><%= psu.brand %> <%= psu.name %></a></td>
                    <td><%= psu.rating %></td>
                    <td><%= psu.tdp %> W</td>
                    <td>$<%= psu.price %></td>
                    <td><a class="btn btn-primary btn-sm" href="/products/add-to-cart/power-supply/<%= psu._id %>">Add</a></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>

<%- include("../../partials/footer.ejs"); %>