<%- include("../../partials/header.ejs"); %>

<div class="powerSupplyTable">
    <table class="container table table-hover">
        <thead class="powerSupplyTableHead">
          <tr>
            <th scope="col">&nbsp</th>
            <th scope="col">&nbsp</th>
          </tr>
        </thead>
        <tbody class="powerSupplyTableBody">
            <th>Brand</th>
            <th><%= powerSupply.brand %></th>
        </tbody>
        <tbody class="powerSupplyTableBody">
            <th>Name</th>
            <th><%= powerSupply.name %></th>
        </tbody>
        <tbody class="powerSupplyTableBody">
            <th>Rating</th>
            <th><%= powerSupply.rating %></th>
        </tbody>
        <tbody class="powerSupplyTableBody">
            <th>Fan size</th>
            <th><%= powerSupply.fanSize %> mm</th>
        </tbody>
        <tbody class="powerSupplyTableBody">
            <th>TDP</th>
            <th><%= powerSupply.tdp %> W</th>
        </tbody>
        <tbody class="powerSupplyTableBody">
            <th>Price</th>
            <th>$<%= powerSupply.price %></th>
        </tbody>

    </table>
    <div class="container text-center">
		<a class="btn btn-lg btn-primary btn-block" href="/products/add-to-cart/power-supply/<%= powerSupply._id %>">Add</a>
	</div>
</div>


<%- include("../../partials/footer.ejs"); %>