<%- include("../../partials/header.ejs"); %>

<div class="container">
    <h1>Products page</h1>
    
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Form</th>
            <th scope="col">Motherboard Support</th>
            <th scope="col">Price</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            <% caseItems.forEach(function(caseItem){ %>
                <tr>
                    <td><a href="/products/case/<%= caseItem._id %>"><%= caseItem.brand %> <%= caseItem.name %></a></td>
                    <td><%= caseItem.form %></td>
                    <td><%= caseItem.motherboardSupport %></td>
                    <td>$<%= caseItem.price %></td>
                    <td><a class="btn btn-primary btn-sm" href="#">Add</a></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>

<%- include("../../partials/footer.ejs"); %>