<%- include("../../partials/header.ejs"); %>

<div class="caseTitle">
    <h1>Choose A Case</h1>
</div>

<div class="caseTable">
    <table class="container table table-hover">
        <thead class="caseTableHead">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Form</th>
            <th scope="col">Motherboard Support</th>
            <th scope="col">Price</th>
            <th scope="col">&nbsp</th>
          </tr>
        </thead>
        <tbody class="caseTableBody">
            <% caseItems.forEach(function(caseItem){ %>
                <tr>
                    <td><a href="/products/case/<%= caseItem._id %>"><%= caseItem.brand %> <%= caseItem.name %></a></td>
                    <td><%= caseItem.form %></td>
                    <td><%= caseItem.motherboardSupport %></td>
                    <td>$<%= caseItem.price %></td>
                    <td><a class="btn btn-primary btn-sm" href="/products/add-to-cart/case/<%= caseItem._id %>">Add</a></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>

<%- include("../../partials/footer.ejs"); %>