<%- include("../../partials/header.ejs"); %>

<div class="mboardTitle">
    <h1>Choose A Motherboard</h1>
</div>

<div class="mboardTable">
    <table class="container table table-hover">
        <thead class="mboardTableHead">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Socket</th>
            <th scope="col">Memory Slots</th>
            <th scope="col">Max Memory Frequency</th>
            <th scope="col">Price</th>
            <th scope="col">&nbsp</th>
          </tr>
        </thead>
        <tbody class="mboardTableBody">
            <% motherboardItems.forEach(function(motherboard){ %>
                <tr>
                    <td><a href="/products/motherboard/<%= motherboard._id %>"><%= motherboard.brand %> <%= motherboard.name %></a></td>
                    <td><%= motherboard.socket %></td>
                    <td><%= motherboard.memorySlots %></td>
                    <td><%= motherboard.maxMemoryFrequency %> MHz</td>
                    <td>$<%= motherboard.price %></td>
                    <td><a class="btn btn-primary btn-sm" href="/products/add-to-cart/motherboard/<%= motherboard._id %>">Add</a></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>

<%- include("../../partials/footer.ejs"); %>