<%- include("../../partials/header.ejs"); %>

<div class="coolerTitle">
    <h1>Choose A CPU Cooler</h1>
</div>

<div class="coolerTable">
    <table class="container table table-hover">
        <thead class="coolerTableHead">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Fan Size</th>
            <th scope="col">Price</th>
            <th scope="col">&nbsp</th>
          </tr>
        </thead>
        <tbody class="coolerTableBody">
            <% cpuCoolerItems.forEach(function(cpuCooler){ %>
                <tr>
                    <td><a href="/products/cpu-cooler/<%= cpuCooler._id %>"><%= cpuCooler.brand %> <%= cpuCooler.name %></a></td>
                    <td><%= cpuCooler.type %></td>
                    <td><%= cpuCooler.fanSize %> mm</td>
                    <td>$<%= cpuCooler.price %></td>
                    <td><a class="btn btn-primary btn-sm" href="/products/add-to-cart/cpu-cooler/<%= cpuCooler._id %>">Add</a></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>

<%- include("../../partials/footer.ejs"); %>