<%- include("../../partials/header.ejs"); %>

<div class="coolerTable">
    <table class="container table table-hover">
        <thead class="coolerTableHead">
          <tr>
            <th scope="col">&nbsp</th>
            <th scope="col">&nbsp</th>
          </tr>
        </thead>
        <tbody class="coolerTableBody">
            <th>Brand</th>
            <th><%= cpuCooler.brand %></th>
        </tbody>
        <tbody class="coolerTableBody">
            <th>Name</th>
            <th><%= cpuCooler.name %></th>
        </tbody>
        <tbody class="coolerTableBody">
            <th>Type</th>
            <th><%= cpuCooler.type %></th>
        </tbody>
        <tbody class="coolerTableBody">
            <th>Fan size</th>
            <th><%= cpuCooler.fanSize %> mm</th>
        </tbody>
        <tbody class="coolerTableBody">
            <th>TDP</th>
            <th><%= cpuCooler.tdp %> W</th>
        </tbody>
        <tbody class="coolerTableBody">
            <th>Price</th>
            <th>$<%= cpuCooler.price %></th>
        </tbody>

    </table>
    <div class="container text-center">
		<a class="btn btn-lg btn-primary btn-block" href="/products/add-to-cart/cpu-cooler/<%= cpuCooler._id %>">Add</a>
	</div>
</div>


<%- include("../../partials/footer.ejs"); %>